html[data-touch="true"] #page,
html[data-touch="true"] #nav {
  display: none;
}
#header {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
}
#header #projects {
  padding: 40vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 2s cubic-bezier(0.19, 1, 0.22, 1);
}
#header .project {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
#header .project .project-title {
  width: 100%;
  font-family: "Panchang", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.31;
  text-transform: uppercase;
  margin: 0;
  opacity: 0;
}
#header .project .project-subtitle {
  text-transform: uppercase;
  font-size: 8px;
  line-height: 11px;
  opacity: 0;
  letter-spacing: 1em;
  pointer-events: none;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    letter-spacing 2s cubic-bezier(0.19, 1, 0.22, 1);
}
#header .project .project-images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
  pointer-events: none;
}
#header .project .project-image {
  width: 25.27vw;
  height: 12.9821153913vw;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
#header .project .project-image:nth-child(1) {
  transform: rotate(-8.13deg) translateX(70%) translateY(100%);
  transition-delay: 0s;
}
#header .project .project-image:nth-child(3) {
  transform: rotate(5.23deg) translateX(-80%) translateY(100%);
  transition-delay: 0s;
}
#header .project:hover .project-subtitle {
  opacity: 1;
  letter-spacing: 0.1em;
}
#header .project:hover .project-image {
  opacity: 1;
  transform: translateY(0%);
}
#header .project:hover .project-image:nth-child(1) {
  transform: rotate(-18.13deg) translateX(60%) translateY(50%);
  transition-delay: 0.1s;
}
#header .project:hover .project-image:nth-child(3) {
  transform: rotate(15.23deg) translateX(-70%) translateY(50%);
  transition-delay: 0.2s;
}
@media (min-width: 1920px) {
  #header .project .project-title {
    font-size: 80px;
  }
}
canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  z-index: 99;
  pointer-events: none;
  mix-blend-mode: exclusion;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
