.card__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__inner .card {
    width: 24%;
    position: relative;
}

.card__inner .card:first-child {
    margin-bottom: 50px;
}

.card__inner .card img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.card__inner .card .tit {
    font-size: 28px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.card__inner .card .desc {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    line-height: 1.4;
    overflow: hidden;
}

.card__inner .card .more {
    width: 24px;
    height: 24px;
    background-image: url(img/arrow.svg);
    display: block;
    position: absolute;
    right: 0;
    top: 230px;
    border-radius: 5px;
}