.memory__wrap {
  display: none;
  position: absolute;
  left: 700px;
  top: 200px;
}
.memory__wrap.show {
  display: block;
}
.memory__inner {
  width: 500px;
  background: #000;
  border-radius: 20px;
}

.memory__header {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 40px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
}
.memory__header img {
  filter: invert(1);
  width: 22px;
}
.memory__header h2 {
  font-size: 14px;
  font-weight: normal;
}
.memory__score {
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin-top: 5px;
  margin-right: 30px;
}
.memory__score span {
  font-weight: 700;
  color: #fff;
}
.memory__card {
  padding: 0 30px 30px 30px;
  pointer-events: none;
}
.memory__card .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.memory__card .cards li {
  justify-content: center;
  display: flex;
  list-style: none;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}
.memory__card .cards li img {
  width: 100%;
}
.memory__card .cards li .view {
  padding: 20px;
  position: absolute;
  background: rgb(236, 236, 236);
  border-radius: 10px;
  backface-visibility: hidden;
  transition: all 0.5s;
  border: 1px solid rgb(255, 255, 255);
  pointer-events: none;
}
.memory__card .cards li.shakeX {
  animation: shakeX 0.8s;
}
.memory__card .cards li .view.front {
  box-sizing: border-box;
  animation: flicker2 1.5s infinite alternate;
}
.memory__card .cards li.flip .view.front {
  transform: rotateY(180deg);
}
.memory__card .cards li .view.back {
  background: rgb(236, 236, 236);
  transform: rotateY(-180deg);
  animation: flicker3 1.5s infinite alternate;
}
.memory__card .cards li.flip .view.back {
  transform: rotateY(0deg);
}
.memory__card .cards li .view img {
  width: 100%;
}

/* memory__info */
.memory__info {
  display: none;
  width: 500px;
  height: 535px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 70px;
  border-radius: 20px;
  border: 3px solid #fff;
  animation: flicker 1.5s infinite alternate;
}
.memory__info.show {
  display: block;
}
.memory__info h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}
.memory__info__desc li {
  font-size: 20px;
  color: #fff;
  list-style: none;
  margin-top: 5px;
}
.memory__start__btn {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 20px;
  padding: 12px 30px 14px;
  border: 3px solid #fff;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}
.memory__start__btn:hover {
  text-shadow: 0 0 5px #fff;
}

/* memory__gameOver__msg */
.memory__gameOver__msg {
  display: none;
  width: 400px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 30px 70px;
  border-radius: 10px;
  border: 3px solid #fff;
  animation: flicker 1.5s infinite alternate;
}
.memory__gameOver__msg.show {
  display: block;
}
.memory__gameOver__msg h3 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}
.gameOver__msg {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 1.4;
}
.gameOver__msg span {
  font-size: 20px;
  font-weight: 700;
}
.memory__retry__btn {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 10px;
  padding: 12px 30px 14px;
  border: 3px solid #fff;
  animation: flicker3 1.5s infinite alternate;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}
.memory__retry__btn:hover {
  text-shadow: 0 0 5px #fff;
}
