@font-face {
  src: url("../fonts/LINESeedKR-Bd.woff");
  font-family: "LINESeedKR";
  font-weight: bold;
}

@font-face {
  src: url("../fonts/LINESeedKR-Rg.woff");
  font-family: "LINESeedKR";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/LINESeedKR-Th.woff");
  font-family: "LINESeedKR";
  font-weight: lighter;
}

@font-face {
  src: url("../fonts/Signatie.ttf");
  font-family: "Signatie";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/aAutoSignature.ttf");
  font-family: "aAutoSignature";
  font-weight: 300;
}
