.info_inner {
  display: flex;
  justify-content: space-between;
}
.info {
  width: 49%;
  height: 150px;
  background-color: #f2f2f2;
  position: relative;
}
h2 {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.p1 {
  position: absolute;
  left: 20px;
  top: 55px;
  font-size: 13px;
}
.icon {
  width: 20px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.p2 {
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.p3 {
  position: absolute;
  left: 120px;
  bottom: 20px;
  font-size: 13px;
  color: #6b6868;
}

.icon2 {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 30px;
}
.i_tit {
  margin-bottom: 20px;
}
.i_tit2 {
  margin-bottom: 15px;
}
.i_desc2 {
  position: absolute;
  left: 434px;
  top: 85px;
}
.i_desc3 {
  position: absolute;
  left: 434px;
  top: 115px;
}
.i_desc4 {
  position: absolute;
  left: 434px;
  top: 145px;
}
.i_desc5 {
  position: absolute;
  left: 434px;
  top: 175px;
}
